<div class="main-container">
    <div>
        <button (click)="getAllProperties()">View All properties</button>
    </div>
    <div *ngIf="viewProperties">
        <div *ngIf="properties.length!==0" class="properties-container">
            <h3>Available Properties</h3>
            <div style="display: flex;">
                <div *ngFor="let property of properties" class="property-card"
                    (click)="getsellerDetails(property.sellerName)">
                    <table>
                        <tr>
                            <th>seller Name:</th>
                            <td>{{ property.sellerName }}</td>
                        </tr>
                        <tr>
                            <th>Location:</th>
                            <td>{{ property.location }}</td>
                        </tr>
                        <tr>
                            <th>Area:</th>
                            <td>{{ property.area }} sqft</td>
                        </tr>
                        <tr>
                            <th>Bedrooms:</th>
                            <td>{{ property.bedrooms }}</td>
                        </tr>
                        <tr>
                            <th>Bathrooms:</th>
                            <td>{{ property.bathrooms }}</td>
                        </tr>
                        <tr>
                            <th>Amenities:</th>
                            <td>{{ property.amenities }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div *ngIf="viewSellerDetails" style="padding: 10px;">
            <table *ngFor="let seller of sellerDetails" class="sellerDetails">
                <tr>
                    <th>Seller Full Name:</th>
                    <td>{{ seller.firstName }} {{seller.lastName}}</td>
                </tr>
                <tr>
                    <th>Contact No:</th>
                    <td>{{ seller.phone }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ seller.email }}</td>
                </tr>

            </table>
        </div>
        <ng-template #elseBlock>
            <div id="elseBlock">No Available properties at this moment!</div>
        </ng-template>
    </div>

</div>