.main-container {
    padding: 20px;
}

button {
    background-color: grey;
    border: grey 2px solid;
    border-radius: 4px;
    padding: 5px 15px;
}

#elseBlock {
    padding: 20px 0px;
}

.properties-container {
    padding: 20px 0;
}

.property-card {
    border: 2px deepskyblue solid;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 4px;
    cursor: pointer;
}

.sellerDetails {
    background-color: aliceblue;
}

a {
    text-decoration: none;
    color: dodgerblue;
}